<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="modDir" value=""/>
    <add key="exportDir" value=""/>
    <add key="sinsDir" value=""/>
    <add key="downDir" value=""/>
    <add key="channel" value="live"/>
    <add key="global.fleetSupply" value="1" />
    <add key="global.numTitans" value="1" />
    <add key="global.tactical" value="1" />
    <add key="global.logistics" value="1" />
    <add key="global.weaponDamage" value="1" />
    <add key="global.bombingDamage" value="1" />
    <add key="global.unitCost" value="1" />
    <add key="global.antimatter" value="1" />
    <add key="global.experienceForLevel" value="1" />
    <add key="global.gravityWellSize" value="1" />
  </appSettings>
</configuration>